<h1>Nutritional Calculator</h1>


<p>this web application will calculate the nutritional make up of any recipe you desire</p>
<%= link_to 'View the ingredients database', controller: 'ingredients' %>
<br/>
<br/>
<%= link_to 'View the recipes database', controller: 'recipes' %>